@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("https://i.pinimg.com/originals/d3/70/e5/d370e515ecba80b8cc994e849fd0c44d.gif");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  text-align: center;
}
.container {
  background: rgba(54, 67, 100, 0.5); 
  backdrop-filter: blur(10px);
  width: 450px;
  border-radius: 50px;
  padding: 60px;
  text-align: center;
  animation: fadInShow 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}


@keyframes sadInShow{
  0%{
    opacity: 0;
    transform:scale(0);
  }
  100%{
    opacity: 1;
    transform:scale(1);
  }
    
}

.form-group{
  margin: 20px 0;
  text-align: start;
}
.form-group input{
  height: 50px;
  width: 100%;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #a3a3a3;
}

button{
  width: 100%;
  height: 45px;
  cursor: pointer;
  font-size: 16px;
  background: #0099ff;
  border-radius: 30px;
  border: none;
  color: #fff;
  margin-bottom: 20px;

}
.otp-form{
  display: block;
  margin: 20px 0;
}
.otp-form p{
  margin: 20px;
  color: rgb(0, 0, 0);
}
.otp-group{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 20px;
}
.otp-group input{
  height: 50px;
  width: 50px;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid #a3a3a3;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

img{
  height: 150px;
  margin: 15px;
}

button.disable{
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}

.error-shake{
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake{
  0%{
    margin-left: 0rem;
  }
  25%{
    margin-left: 0.5rem;
  }
  50%{
    margin-left: -0.5rem;
  }
  100%{
    margin-left: 0rem;
  }


}